//font
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro');

/* Grand Central Station. Operator. Main. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";


h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    padding: .5em;
    
}

// Layout
main {
    background: url(../img/background/handmadepaper/handmadepaper.png);
    margin: 0 auto;
    width: 90%;
}

.document, .logo {
    display: block;
    position: relative;
    max-width: 70% ;
    height: auto;
    min-width: 10%;
    min-height: auto;
    margin: 0 auto;
    padding: 1em;  
}

.kingabucha, .poster{
    display: block;
    position: relative;
    max-width: 100% ;
    height: auto;
    min-width: 20%;
    min-height: auto;
    margin: 0 auto;
    padding: 1em; 
}
.card {
    display: block;
    position: relative;
    max-width: 80%;
    height: auto;
    min-width: 20%;
    min-height: auto;
    margin: 0 auto;
    padding: 1em;
}



figcaption{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    font-size: 1.2em;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 2 em;
}




// RWD header img
main header img {
    width: 100%;
    max-width: 100%;
}

// Random Backgrounds
.bg0 {
  background-image: url(../img/background/ep_naturalblack/ep_naturalblack.png);
}

.bg1 {
  background-image: url(../img/background/black_paper/black_paper.png);
}

.bg2 {
  background-image: url(../img/background/dark_brick_wall/dark_brick_wall_@2X.png);
}


// Portfolio Items
// Flexbox Layout
article {
    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
}



article figure {
  background: clear;
  padding: 1.2em;
  width: 20em;
  height: 25em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


figure:hover{
    background-color: #2d4f5a;
    
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
  figure {
    width: 400px;
  }



