//font
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

/* Grand Central Station. Operator. Main. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";


h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    padding: .5em;
    
}

// Layout
main {
    background: url(../img/background/handmadepaper/handmadepaper.png);
    margin: 0 auto;
    width: 90%;
}

// RWD header img
main header img {
    width: 100%;
    max-width: 100%;
}

// Random Backgrounds
.bg0 {
  background-image: url(../img/background/ep_naturalblack/ep_naturalblack.png);
}

.bg1 {
  background-image: url(../img/background/black_paper/black_paper.png);
}

.bg2 {
  background-image: url(../img/background/dark_brick_wall/dark_brick_wall_@2X.png);
}


// Portfolio Items
// Flexbox Layout
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article figure {
  background: orange;
  padding: 2em;
  width: 20em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}





