/* Grand Central Station. Operator. Main. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";


body {
    background: white;
}

//layout
main {
    background: teal;
    margin: 0 auto;
    width: 90%;    
}

//rwd header
main img {
    max-height: 400%;
    width: %100;
    max-width: 100%;
    
}

// Portfolio Items
figure {
    background: #5b445f;
    padding: 1em;
    text-align: center;
    width: 300px;
}

figure img {
    box-shadow: 2px 2px 2px gray;
}